
@{
    ViewBag.Title = "WelCome";
    Layout = "~/Views/Shared/_OverviewLayoutPage.cshtml";
}
<section class="welcome-screen h-100 p-3">
    <div class="container">
        <header class="masthead">
            <div class="inner">
                <div class="d-flex justify-content-end">
                    <a href="javascript:void(0);" class="select-lang">
                        <span class="flag-content">
                            <span>Change Language</span>
                            <span class="flag"><img src="~/Content/images/united-kingdom.png" alt="flag-img" /></span>
                        </span>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div class="container wc-text-area">
        <div class="row align-self-center w-100 mt-5">
            <div class="col">
                <img src="~/Content/images/Screenshot_9.png" class="rounded float-left wc-alert-img"
                     alt="hand" />
            </div>
            <div class="col-12">
                <div class="inner text-center">
                    <h1 class="c-heading wc-heading text-uppercase">WELCOME</h1>
                    <p class="c-lead wc-lead">Tap anywhere to continue...</p>
                </div>
            </div>
            <div class="col">
                <img src="~/Content/images/Screenshot_8.png" class="rounded float-end wc-hand-img" alt="hand" />
            </div>
        </div>
    </div>
</section>

