<section class="h-100 pt-4">
    <div class="container download-screen">
        <header class="masthead">
            <div class="inner">
                <div class="d-flex justify-content-end">
                    <a href="javascript:void(0);" class="select-lang">
                        <span class="flag-content">
                            <span>Change Language</span>
                            <span class="flag"><img src="~/Content/images/united-kingdom.png" alt="flag-img" /></span>
                        </span>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col text-end">
                <img src="~/Content/images/Screenshot_16.png" class="" alt="hand" />
            </div>
            <div class="col text-center">
                <div class="inner">
                    <h1 class="c-heading download-heading text-uppercase">IMG 001</h1>
                </div>
            </div>
            <div class="col">
                <img src="~/Content/images/Screenshot_17.png" class="" alt="hand" />
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <a href="index1.html" class="select-back-btn mb-2">
            <span>
                <span> &#x3c; Go back to overview</span>
            </span>
        </a>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://picsum.photos/500/500" class="img-fluid rounded d-block w-100" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img src="https://picsum.photos/500/500" class="img-fluid rounded d-block w-100" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img src="https://picsum.photos/500/500" class="img-fluid rounded d-block w-100" alt="Los Angeles">
                </div>
            </div>
        </div>
        <div class="carousel-controls" style="position: relative;">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="btn-download" type="button">Download</button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

