<section class="selection-section h-100 pt-4">
    <div class="container selection-screen">
        <header class="masthead">
            <div class="inner">
                <div class="d-flex justify-content-end">
                    <a href="javascript:void(0);" class="select-lang">
                        <span class="flag-content">
                            <span>Change Language</span>
                            <span class="flag"><img src="~/Content/images/united-kingdom.png" alt="flag-img" /></span>
                        </span>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="row pb-4 pt-4">
            <div class="col-12">
                <div class="inner text-center">
                    <img src="~/Content/images/Screenshot_9.png" class="w-10 wc-alert-img" alt="hand" />
                    <h1 class="c-heading selection-heading text-uppercase">SELECTION</h1>
                    <p class="c-lead selection-lead">Click an image to enlarge it</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="container selection-gallry">
        <div class="row text-center text-lg-start selection-img-gallry">
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 g-image-box mb-4 ">
                <div class="g-img-set d-block h-100">
                    <img class="img-fluid rounded g-img" src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
                         alt="">
                    <div class="overlay">
                        <a href="#" class="icon" title="Download">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M4,20H20a1,1,0,0,1,0,2H4a1,1,0,0,1,0-2ZM12,2a1,1,0,0,0-1,1V14.586L8.707,12.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,.325.216.986.986,0,0,0,.764,0,1,1,0,0,0,.325-.216l4-4a1,1,0,0,0-1.414-1.414L13,14.586V3A1,1,0,0,0,12,2Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
